/*
.searchField {
    width: 400px;
    border-radius: 5px;
    padding-bottom: 0;
    padding-top: 5%;
}
*/

.searchDiv {
    width: 100%;
    height: 100%;
}

.testing {
    width: 50%;
    height: 42%;
    margin-left: 50%;
}

#searchDiv ::ng-deep .mat-form-field-appearance-fill {
    width: 400px;
    height: 80px;
}

#searchDiv ::ng-deep .mat-form-field.mat-form-field-flex {
    padding: 10px 10px 10px 10px;
}
  
#searchDiv ::ng-deep .mat-form-field-infix {
    padding: 3px 0 3px 0;
}