.queryDiv {
    display: grid;
    grid-template-rows: 1.3fr 2fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px;
    height: 100%;
    width: 100%;
}

.selections {
    grid-column: 1 / 3;
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
}

.type1selection, .type2selection {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.type1selection button {
    width: 80px;
    height: 40px;
}

.type2selection button {
    width: 80px;
    height: 40px;
}

.slider {
    grid-column: 1 / 3;
    grid-row: 2;
}

.sendQuery {
    grid-column: 1 / 3;
    grid-row: 3;
    width: 100%;
    height: 100%;
    text-align: center;
}

/*
.sendQuery button {
    width: 40%;
    height: 40%;
    background-color: green;
}
*/

.mat-expansion-panel {
    min-height: 28%;
    width: 100%;
    background-color: #e3e3e3;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
    border: 1px solid black;
}
  
mat-slider {
    width: 50%;
}

table {
    width: 100%;
}

td {
    width: 20%;
}

button {
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size: 100%;
    padding: 5px;
    width: 100%;
}

.typeButton:hover {
    border: 2px solid #ffcb05;
}

.pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    width: 150px;
    border-radius: 50%;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
        transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(
        to left,
        hsl(223deg 100% 16%) 0%,
        hsl(223deg 100% 32%) 8%,
        hsl(223deg 100% 32%) 92%,
        hsl(223deg 100% 16%) 100%
    );
}

.front {
    display: block;
    position: relative;
    padding: 35% 42px;;
    border-radius: 50%;
    font-size: 1.25rem;
    color: white;
    background: hsl(228deg, 49%, 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
        transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
}

.pushable:hover {
    filter: brightness(110%);
}

.pushable:hover .front {
    transform: translateY(-6px);
    transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.pushable:hover .shadow {
    transform: translateY(4px);
    transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}

button:focus {
    outline: 0;
}
  
.buttonAny {    
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
}
  
.buttonNone {
    background-color: black;
}

.buttonBug {
    background-color: #AABB22;
}

.buttonDark {
    background-color: #705848;
}

.buttonDragon {
    background-color: #7766EE;
}

.buttonElectric {
    background-color: #FFCC33;
}

.buttonFairy {
    background-color: #EE99EE;
}

.buttonFighting {
    background-color: #BB5544;
}

.buttonFire {
    background-color: #FF4422;
}

.buttonFlying {
    background-color: #8899FF;
}

.buttonGhost {
    background-color: #6666BB;
}

.buttonGrass {
    background-color: #77CC55;
}

.buttonGround { 
    background-color: #DDBB55;
}

.buttonIce {
    background-color: #66CCFF;
}

.buttonNormal {
    background-color: #AAAA99;
}

.buttonPoison {
    background-color: #AA5599;
}

.buttonPsychic {
    background-color: #FF5599;
}

.buttonRock {
    background-color: #BBAA66;
}

.buttonSteel {
    background-color: #AAAABB;
}

.buttonWater {
    background-color: #3399FF;
}