<div class="queryDiv">
    <div class="buttonSet1">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Type 1
              </mat-panel-title>
              <mat-panel-description>
                Click here to choose type 1
              </mat-panel-description>
            </mat-expansion-panel-header>
            <table>
                <tr>
                    <td><button class="buttonAny" (click)="searchValues.type1='Any'">Any</button></td>
                    <td><button class="buttonNone" (click)="searchValues.type1='None'">None</button></td>
                    <td><button class="buttonBug" (click)="searchValues.type1='Bug'">Bug</button></td>
                    <td><button class="buttonDark" (click)="searchValues.type1='Dark'">Dark</button></td>
                    <td><button class="buttonDragon" (click)="searchValues.type1='Dragon'">Dragon</button></td>
                </tr>
                <tr>
                    <td><button class="buttonElectric" (click)="searchValues.type1='Electric'">Electric</button></td>
                    <td><button class="buttonFairy" (click)="searchValues.type1='Fairy'">Fairy</button></td>
                    <td><button class="buttonFighting" (click)="searchValues.type1='Fighting'">Fighting</button></td>
                    <td><button class="buttonFire" (click)="searchValues.type1='Fire'">Fire</button></td>
                    <td><button class="buttonFlying" (click)="searchValues.type1='Flying'">Flying</button></td>
                </tr>
                <tr>
                    <td><button class="buttonGhost" (click)="searchValues.type1='Ghost'">Ghost</button></td>
                    <td><button class="buttonGrass" (click)="searchValues.type1='Grass'">Grass</button></td>
                    <td><button class="buttonGround" (click)="searchValues.type1='Ground'">Ground</button></td>
                    <td><button class="buttonIce" (click)="searchValues.type1='Ice'">Ice</button></td>
                    <td><button class="buttonNormal" (click)="searchValues.type1='Normal'">Normal</button></td>
                </tr>
                <tr>
                    <td><button class="buttonPoison" (click)="searchValues.type1='Poison'">Poison</button></td>
                    <td><button class="buttonPsychic" (click)="searchValues.type1='Psychic'">Psychic</button></td>
                    <td><button class="buttonRock" (click)="searchValues.type1='Rock'">Rock</button></td>
                    <td><button class="buttonSteel" (click)="searchValues.type1='Steel'">Steel</button></td>
                    <td><button class="buttonWater" (click)="searchValues.type1='Water'">Water</button></td>
                </tr>
            </table>
        </mat-expansion-panel>
    </div>
    <div class="buttonSet2">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Type 2
              </mat-panel-title>
              <mat-panel-description>
                Click here to choose type 2
              </mat-panel-description>
            </mat-expansion-panel-header>
            <table>
                <tr>
                    <td><button class="buttonAny" (click)="searchValues.type2='Any'">Any</button></td>
                    <td><button class="buttonNone" (click)="searchValues.type2='None'">None</button></td>
                    <td><button class="buttonBug" (click)="searchValues.type2='Bug'">Bug</button></td>
                    <td><button class="buttonDark" (click)="searchValues.type2='Dark'">Dark</button></td>
                    <td><button class="buttonDragon" (click)="searchValues.type2='Dragon'">Dragon</button></td>
                </tr>
                <tr>
                    <td><button class="buttonElectric" (click)="searchValues.type2='Electric'">Electric</button></td>
                    <td><button class="buttonFairy" (click)="searchValues.type2='Fairy'">Fairy</button></td>
                    <td><button class="buttonFighting" (click)="searchValues.type2='Fighting'">Fighting</button></td>
                    <td><button class="buttonFire" (click)="searchValues.type2='Fire'">Fire</button></td>
                    <td><button class="buttonFlying" (click)="searchValues.type2='Flying'">Flying</button></td>
                </tr>
                <tr>
                    <td><button class="buttonGhost" (click)="searchValues.type2='Ghost'">Ghost</button></td>
                    <td><button class="buttonGrass" (click)="searchValues.type2='Grass'">Grass</button></td>
                    <td><button class="buttonGround" (click)="searchValues.type2='Ground'">Ground</button></td>
                    <td><button class="buttonIce" (click)="searchValues.type2='Ice'">Ice</button></td>
                    <td><button class="buttonNormal" (click)="searchValues.type2='Normal'">Normal</button></td>
                </tr>
                <tr>
                    <td><button class="buttonPoison" (click)="searchValues.type2='Poison'">Poison</button></td>
                    <td><button class="buttonPsychic" (click)="searchValues.type2='Psychic'">Psychic</button></td>
                    <td><button class="buttonRock" (click)="searchValues.type2='Rock'">Rock</button></td>
                    <td><button class="buttonSteel" (click)="searchValues.type2='Steel'">Steel</button></td>
                    <td><button class="buttonWater" (click)="searchValues.type2='Water'">Water</button></td>
                </tr>
            </table>
        </mat-expansion-panel>
    </div>
    <div class="selections">
        <h2>Generation:&nbsp;</h2>
        <mat-slider min="1" max="9" step="1" value="test" showTickMarks discrete>
            <input matSliderStartThumb (change)="updateGenFrom($event)">
            <input matSliderEndThumb (change)="updateGenThru($event)">
          </mat-slider>
          <br>
        <!--
        <h3>Include Pokemon from generation</h3>
        <select [(ngModel)]="searchValues.genFrom">
            <option [ngValue]="1">1</option>
            <option [ngValue]="2">2</option>
            <option [ngValue]="3">3</option>
            <option [ngValue]="4">4</option>
            <option [ngValue]="5">5</option>
            <option [ngValue]="6">6</option>
            <option [ngValue]="7">7</option>
            <option [ngValue]="8">8</option>
            <option [ngValue]="9">9</option>
        </select>
        through 
        <select [(ngModel)]="searchValues.genThru">
            <option [ngValue]="1">1</option>
            <option [ngValue]="2">2</option>
            <option [ngValue]="3">3</option>
            <option [ngValue]="4">4</option>
            <option [ngValue]="5">5</option>
            <option [ngValue]="6">6</option>
            <option [ngValue]="7">7</option>
            <option [ngValue]="8">8</option>
            <option [ngValue]="9">9</option>
        </select>
        <br/>
        -->
        Sort by 
        <select [(ngModel)]="searchValues.sortVal">
            <option [ngValue]="'ndexno'">National Dex #</option>
            <option [ngValue]="'name'">Name</option>
            <option [ngValue]="'hp'">HP</option>
            <option [ngValue]="'attack'">Attack</option>
            <option [ngValue]="'defense'">Defense</option>
            <option [ngValue]="'spatk'">Sp. Attack</option>
            <option [ngValue]="'spdef'">Sp. Defense</option>
            <option [ngValue]="'speed'">Speed</option>
            <option [ngValue]="'total'">Total</option>
            <option [ngValue]="'gen'">Generation</option>
        </select>
        <br/>
        Order
        <select [(ngModel)]="searchValues.orderVal">
            <option [ngValue]="'ASC'">Ascending</option>
            <option [ngValue]="'DESC'">Descending</option>
        </select>
    </div>
    <div class="sendQuery">
        <br/>
        <button (click)="queryPokemon()">Query</button>
        <br/>
        <button (click)="log()">Log</button>
    </div>
</div>