.queryDiv {
    display: grid;
    grid-template-rows: 1.3fr 2fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px;
    height: 100%;
    width: 100%;
}

.selections {
    grid-column: 1 / 3;
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
}

.type1selection, .type2selection {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.type1selection button {
    width: 80px;
    height: 40px;
}

.type2selection button {
    width: 80px;
    height: 40px;
}

.slider {
    grid-column: 1 / 3;
    grid-row: 2;
}

.sendQuery {
    grid-column: 1 / 3;
    grid-row: 3;
    width: 100%;
    height: 100%;
    text-align: center;
}

.sendQuery button {
    width: 40%;
    height: 40%;
    background-color: green;
}

.mat-expansion-panel {
    min-height: 28%;
    width: 100%;
    background-color: #e3e3e3;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
    border: 1px solid black;
}
  
mat-slider {
    width: 50%;
}

table {
    width: 100%;
}

td {
    width: 20%;
}

button {
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size: 100%;
    padding: 5px;
    width: 100%;
}

button:focus {
    outline: 0;
}
  
.buttonAny {    
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
}
  
.buttonNone {
    background-color: black;
}

.buttonBug {
    background-color: #AABB22;
}

.buttonDark {
    background-color: #705848;
}

.buttonDragon {
    background-color: #7766EE;
}

.buttonElectric {
    background-color: #FFCC33;
}

.buttonFairy {
    background-color: #EE99EE;
}

.buttonFighting {
    background-color: #BB5544;
}

.buttonFire {
    background-color: #FF4422;
}

.buttonFlying {
    background-color: #8899FF;
}

.buttonGhost {
    background-color: #6666BB;
}

.buttonGrass {
    background-color: #77CC55;
}

.buttonGround { 
    background-color: #DDBB55;
}

.buttonIce {
    background-color: #66CCFF;
}

.buttonNormal {
    background-color: #AAAA99;
}

.buttonPoison {
    background-color: #AA5599;
}

.buttonPsychic {
    background-color: #FF5599;
}

.buttonRock {
    background-color: #BBAA66;
}

.buttonSteel {
    background-color: #AAAABB;
}

.buttonWater {
    background-color: #3399FF;
}