.queryDiv {
    grid-row: 1 / 3;
    display: grid;
    /*grid-template-rows: 1.3fr 2fr 1fr;*/
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: lightblue;
    overflow-y: hidden;
    position: absolute;
}

.buttonSet1 {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*Button set 2*/
.typeSet2 {
    grid-row: 1 / 3;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.typeCheckContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.typeCheck {
    border: 2px solid black;
    border-radius: 5px;
    width: 5em;
    text-align: center;
    color: white;
    text-shadow:
        0.08em 0 black,
        0 0.08em black,
        -0.08em 0 black,
        0 -0.08em black;
    margin-left: -10px;
}

.typeSet2Selections {
    grid-column: 1;
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-rows: 0.4fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.typeSet2Title {
    grid-row: 1;
    grid-column: 2 / 6;
    border: 2px solid gray;
    border-radius: 5px;
    border-bottom-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #3d55b3;
}

.typeSet2Checkboxes {
    grid-row: 2 / 6;
    grid-column: 2 / 8;
    border: 2px solid gray;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 4;
    grid-template-columns: 5;
    background-color: #e3e3e3;
}

.type1Display {
    grid-row: 7;
    grid-column: 1 / 4;
    border: 1px solid gray;
    border-radius: 5px;
    border-top-width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
    border-radius: 5px;
    text-align: center;
    color: white;
    text-shadow:
        0.08em 0 black,
        0 0.08em black,
        -0.08em 0 black,
        0 -0.08em black;
}

.type2Display {
    grid-row: 8;
    grid-column: 1 / 4;
    border: 1px solid gray;
    border-radius: 5px;
    border-top-width: 2px;
    border-right-width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
}

/* Generations */

.selectionFooter {
    grid-row: 3;
    grid-column: 1;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.selections {
    grid-column: 1;
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-rows: 0.4fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.title {
    grid-row: 1;
    grid-column: 1 / 5;
    border: 2px solid gray;
    border-radius: 5px;
    border-bottom-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #3d55b3;
}

.checkboxes {
    grid-row: 2 / 4;
    grid-column: 1 / 5;
    border: 2px solid gray;
    border-radius: 5px;
    border-right-width: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #e3e3e3;
}

.selectAll {
    grid-row: 2;
    grid-column: 5 / 7;
    border: 1px solid gray;
    border-radius: 5px;
    border-top-width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
}

.clearAll {
    grid-row: 2;
    grid-column: 7 / 9;
    border: 1px solid gray;
    border-radius: 5px;
    border-top-width: 2px;
    border-right-width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
}

.randomGenerations {
    grid-row: 3;
    grid-column: 5 / 9;
    border: 1px solid gray;
    border-radius: 5px;
    border-bottom-width: 2px;
    border-right-width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
}

.sendQuery {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

/*
.sendQuery button {
    width: 40%;
    height: 40%;
    background-color: green;
}
*/

.mat-expansion-panel {
    min-height: 28%;
    width: 100%;
    background-color: #e3e3e3;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
    border: 1px solid black;
}
  
mat-slider {
    width: 80%;
}

table {
    width: 50%;
}

td {
    width: 20%;
    height: 25%;
}

/*
button {
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size: 100%;
    padding: 5px;
    min-width: 60px;
}
*/

.typeButton {
    height: 40%;
    width: 100%;
    border-width: 4px;
    border-style: ridge;
}

.pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    width: 150px;
    border-radius: 50%;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
        transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(
        to left,
        hsl(223deg 100% 16%) 0%,
        hsl(223deg 100% 32%) 8%,
        hsl(223deg 100% 32%) 92%,
        hsl(223deg 100% 16%) 100%
    );
}

.front {
    display: block;
    position: relative;
    padding: 35% 42px;;
    border-radius: 50%;
    font-size: 1.25rem;
    color: white;
    background: hsl(228deg, 49%, 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
        transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
}

.pushable:hover {
    filter: brightness(110%);
}

.pushable:hover .front {
    transform: translateY(-6px);
    transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.pushable:hover .shadow {
    transform: translateY(4px);
    transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}

button:focus {
    outline: 0;
}
  
.selected {
    border-style: inset;
    border-width: 4px;
}

.AnyColor {    
    /*
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    */
    background-color: white;
    color: black;
    text-shadow: none;
}
  
.NoneColor {
    background-color: black;
    color: white;
}

.BugColor {
    background-color: #AABB22;
}

.DarkColor {
    background-color: #705848;
}

.DragonColor {
    background-color: #7766EE;
}

.ElectricColor {
    background-color: #FFCC33;
}

.FairyColor {
    background-color: #EE99EE;
}

.FightingColor {
    background-color: #BB5544;
}

.FireColor {
    background-color: #FF4422;
}

.FlyingColor {
    background-color: #8899FF;
}

.GhostColor {
    background-color: #6666BB;
}

.GrassColor {
    background-color: #77CC55;
}

.GroundColor { 
    background-color: #DDBB55;
}

.IceColor {
    background-color: #66CCFF;
}

.NormalColor {
    background-color: #AAAA99;
}

.PoisonColor {
    background-color: #AA5599;
}

.PsychicColor {
    background-color: #FF5599;
}

.RockColor {
    background-color: #BBAA66;
}

.SteelColor {
    background-color: #AAAABB;
}

.WaterColor {
    background-color: #3399FF;
}