
<div class="queryDiv">
    <div class="buttonSet1">
        <h1>Type 1:&nbsp;&nbsp;
            <button class="{{searchValues.type1}}">{{searchValues.type1}}</button>
        </h1>
        <hr style="border: 1px solid #3d55b3; width: 50%;">
        <table>
            <tr>
                <td><button #tbAny class="Any typeButton group1 selected" (click)="updateType(tbAny)">Any</button></td>
                <td><button #tbNone class="None typeButton group1" (click)="updateType(tbNone)">None</button></td>
                <td><button #tbBug class="Bug typeButton group1" (click)="updateType(tbBug)">Bug</button></td>
                <td><button #tbDark class="Dark typeButton group1" (click)="updateType(tbDark)">Dark</button></td>
                <td><button #tbDragon class="Dragon typeButton group1" (click)="updateType(tbDragon)">Dragon</button></td>
            </tr>
            <tr>
                <td><button #tbElectric class="Electric typeButton group1" (click)="updateType(tbElectric)">Electric</button></td>
                <td><button #tbFairy class="Fairy typeButton group1" (click)="updateType(tbFairy)">Fairy</button></td>
                <td><button #tbFighting class="Fighting typeButton group1" (click)="updateType(tbFighting)">Fighting</button></td>
                <td><button #tbFire class="Fire typeButton group1" (click)="updateType(tbFire)">Fire</button></td>
                <td><button #tbFlying class="Flying typeButton group1" (click)="updateType(tbFlying)">Flying</button></td>
            </tr>
            <tr>
                <td><button #tbGhost class="Ghost typeButton group1" (click)="updateType(tbGhost)">Ghost</button></td>
                <td><button #tbGrass class="Grass typeButton group1" (click)="updateType(tbGrass)">Grass</button></td>
                <td><button #tbGround class="Ground typeButton group1" (click)="updateType(tbGround)">Ground</button></td>
                <td><button #tbIce class="Ice typeButton group1" (click)="updateType(tbIce)">Ice</button></td>
                <td><button #tbNormal class="Normal typeButton group1" (click)="updateType(tbNormal)">Normal</button></td>
            </tr>
            <tr>
                <td><button #tbPoison class="Poison typeButton group1" (click)="updateType(tbPoison)">Poison</button></td>
                <td><button #tbPsychic class="Psychic typeButton group1" (click)="updateType(tbPsychic)">Psychic</button></td>
                <td><button #tbRock class="Rock typeButton group1" (click)="updateType(tbRock)">Rock</button></td>
                <td><button #tbSteel class="Steel typeButton group1" (click)="updateType(tbSteel)">Steel</button></td>
                <td><button #tbWater class="Water typeButton group1" (click)="updateType(tbWater)">Water</button></td>
            </tr>
        </table>
    </div>
    <div class="buttonSet2">
        <h1>Type 2:&nbsp;&nbsp;
            <button class="{{searchValues.type2}}">{{searchValues.type2}}</button>
        </h1>
        <hr style="border: 1px solid #3d55b3; width: 50%;">
        <table>
            <tr>
                <td><button #tbAny2 class="Any typeButton group2 selected" (click)="updateType(tbAny2)">Any</button></td>
                <td><button #tbNone2 class="None typeButton group2" (click)="updateType(tbNone2)">None</button></td>
                <td><button #tbBug2 class="Bug typeButton group2" (click)="updateType(tbBug2)">Bug</button></td>
                <td><button #tbDark2 class="Dark typeButton group2" (click)="updateType(tbDark2)">Dark</button></td>
                <td><button #tbDragon2 class="Dragon typeButton group2" (click)="updateType(tbDragon2)">Dragon</button></td>
            </tr>
            <tr>
                <td><button #tbElectric2 class="Electric typeButton group2" (click)="updateType(tbElectric2)">Electric</button></td>
                <td><button #tbFairy2 class="Fairy typeButton group2" (click)="updateType(tbFairy2)">Fairy</button></td>
                <td><button #tbFighting2 class="Fighting typeButton group2" (click)="updateType(tbFighting2)">Fighting</button></td>
                <td><button #tbFire2 class="Fire typeButton group2" (click)="updateType(tbFire2)">Fire</button></td>
                <td><button #tbFlying2 class="Flying typeButton group2" (click)="updateType(tbFlying2)">Flying</button></td>
            </tr>
            <tr>
                <td><button #tbGhost2 class="Ghost typeButton group2" (click)="updateType(tbGhost2)">Ghost</button></td>
                <td><button #tbGrass2 class="Grass typeButton group2" (click)="updateType(tbGrass2)">Grass</button></td>
                <td><button #tbGround2 class="Ground typeButton group2" (click)="updateType(tbGround2)">Ground</button></td>
                <td><button #tbIce2 class="Ice typeButton group2" (click)="updateType(tbIce2)">Ice</button></td>
                <td><button #tbNormal2 class="Normal typeButton group2" (click)="updateType(tbNormal2)">Normal</button></td>
            </tr>
            <tr>
                <td><button #tbPoison2 class="Poison typeButton group2" (click)="updateType(tbPoison2)">Poison</button></td>
                <td><button #tbPsychic2 class="Psychic typeButton group2" (click)="updateType(tbPsychic2)">Psychic</button></td>
                <td><button #tbRock2 class="Rock typeButton group2" (click)="updateType(tbRock2)">Rock</button></td>
                <td><button #tbSteel2 class="Steel typeButton group2" (click)="updateType(tbSteel2)">Steel</button></td>
                <td><button #tbWater2 class="Water typeButton group2" (click)="updateType(tbWater2)">Water</button></td>
            </tr>
        </table>
    </div>
    <div class="selectionFooter">
        <div class="selections">
            <div class="title">
                Generation(s)
            </div>
            <div class="checkboxes">
                <mat-checkbox style="width: 33%; height: 33%" [(ngModel)]="genValues[0]">1</mat-checkbox>
                <mat-checkbox style="width: 33%; height: 33%" [(ngModel)]="genValues[1]">2</mat-checkbox>
                <mat-checkbox style="width: 33%; height: 33%" [(ngModel)]="genValues[2]">3</mat-checkbox>
                <mat-checkbox style="width: 33%; height: 33%" [(ngModel)]="genValues[3]">4</mat-checkbox>
                <mat-checkbox style="width: 33%; height: 33%" [(ngModel)]="genValues[4]">5</mat-checkbox>
                <mat-checkbox style="width: 33%; height: 33%" [(ngModel)]="genValues[5]">6</mat-checkbox>
                <mat-checkbox style="width: 33%; height: 33%" [(ngModel)]="genValues[6]">7</mat-checkbox>
                <mat-checkbox style="width: 33%; height: 33%" [(ngModel)]="genValues[7]">8</mat-checkbox>
                <mat-checkbox style="width: 33%; height: 33%" [(ngModel)]="genValues[8]">9</mat-checkbox>
            </div>
            <div class="selectAll">
                <button mat-raised-button style="height: 75%; width: 75%; background-color: green; color: white;" (click)="updateGenValues(true)">Select All</button>
            </div>
            <div class="clearAll">
                <button mat-raised-button style="height: 75%; width: 75%; background-color: red; color: white;" (click)="updateGenValues(false)">Clear All</button>
            </div>
            <div class="randomGenerations">
                <button mat-raised-button style="height: 75%; width: 75%; background-color: black; color: white;" (click)="randomizeGenValues()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dice-5" viewBox="0 0 16 16">
                        <path d="M13 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h10zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3z"/>
                        <path d="M5.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm4-4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    </svg>
                    Random
                </button>
            </div>
            <!--
            <h2>Generation</h2>
            <mat-slider min="1" max="9" step="1" value="test" showTickMarks discrete>
                <input matSliderStartThumb (change)="updateGenFrom($event)">
                <input matSliderEndThumb (change)="updateGenThru($event)">
            </mat-slider>
            -->
        </div>
        <div class="sendQuery">
            <br/>
            <button class="pushable" (click)="queryPokemon()">
                <span class="shadow"></span>
                <span class="edge"></span>
                <span class="front">
                    Query
                </span>
            </button>
        </div>
    </div>
</div>